.header{
    text-align: center;
    padding-top: 40px;
    padding-left: 20px;
}
input[type="text"]:focus {
    background-color: rgb(212, 207, 207);
    font-weight: bold;
    color :black;
    
}
input[type="password"]:focus{

    background-color: rgb(212, 207, 207);
    font-weight: bold;
    color :black;
}
/* input{
    width: 550px;
} */
nav{
    background-color: black;
}
