<!-- <app-navbar></app-navbar>
<div class="header">
        <h1>Login Page</h1><hr>
</div>
<div class="container">
    <div class="row">

            <div class="col-md-4 col-lg-4 col-sm-8"></div>
        <div class="col-md-6 col-lg-6 col-sm-12">
             
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

                <div class="form-group">
                    <label>Email</label>
                    <div class="form-inline">
                        <span><i class="fa fa-envelope"></i></span> &nbsp;&nbsp;
                        <input type="text" id="email" formControlName="userEmail" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && form.userEmail.errors }" />
                        <div *ngIf="submitted && form.userEmail.errors" class="invalid-feedback">
                            <div id="emailEmpty" *ngIf="form.userEmail.errors.required">Email is required</div>
                           
                        </div>
                    </div>
                </div>
                <div class="form-group">
                   <label>Password</label>
                    <div class="form-inline">
                        <span><i class="fa fa-key"></i></span> &nbsp;&nbsp;
                        <input type="password" id="password" formControlName="userPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && form.userPassword.errors }" />
                        <div *ngIf="submitted && form.userPassword.errors" class="invalid-feedback">
                            <div id="passwordrequired" *ngIf="form.userPassword.errors.required">Password is required
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="login" class="btn btn-success">Login</button>&nbsp;&nbsp;
                    <button id="signup" class="btn btn-primary" routerLink="../">Sign Up</button>
                </div>

            </form>

        </div>
        <div class="col-md-3 col-lg-3 col-sm-12 "></div>
    </div>
</div> -->

<app-navbar></app-navbar>
<div class="header">
    <h2>Login Page</h2>
</div>
<div class="container">
    <div class="row">

        <div class="col-md-3 col-lg-3 col-sm-12"></div>
        <div class="col-md-6 col-lg-6 col-sm-12">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

                <div class="form-group">
                    <!-- <label>Email</label> -->
                    <span><i class="fa fa-envelope" style="font-size:36px"></i></span>
                    <input type="text" id="email" formControlName="userEmail" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && form.userEmail.errors }" />
                    <div *ngIf="submitted && form.userEmail.errors" class="invalid-feedback">
                        <div id="emailEmpty" *ngIf="form.userEmail.errors.required">Email is required</div>
                        <!-- <div id="emailErrors" *ngIf="form.userEmail.errors.email">Email must be a valid email address</div> -->
                    </div>
                </div>

                <div class="form-group">
                    <!-- <label>Password</label> -->
                    <span><i class="fa fa-key" style="font-size:36px"></i></span>
                    <input type="password" id="password" formControlName="userPassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && form.userPassword.errors }" />
                    <div *ngIf="submitted && form.userPassword.errors" class="invalid-feedback">
                        <div id="passwordrequired" *ngIf="form.userPassword.errors.required">Password is required</div>
                        <!-- <div *ngIf="form.userPassword.errors.pattern">Password must contain at least eight characters,
                                one capital letter and at least one number</div> -->
                    </div>
                </div>
                <div class="form-group">
                    <button id="login" class="btn btn-success">Login</button>&nbsp;&nbsp;
                    <button id="signup" class="btn btn-primary" routerLink="../">Sign Up</button>
                </div>
            </form>

        </div>
        <div class="col-md-3 col-lg-3 col-sm-12 "></div>
    </div>
</div>