

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="../adminHome"><img src="assets/sky-news-logo.png" alt=""/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" id="allUser" routerLink="../activeUsers"><h2>All Users</h2></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="blackUser" routerLink="../blacklist"><h2>Blacklisted</h2></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="searchUser" routerLink="../searchuser"><h2>Search</h2></a>
      </li>
    </ul>
    <span class="navbar-text">
      <button type="submit" class="btn btn-danger" (click)="logoutAdmin()" id="LogoutAdmin">Logout</button>
    </span>
  </div>
</nav>