<!--The content below is only a placeholder and can be replaced.-->

<div class="nav">
    <span>Movie Crusier</span>
    <button mat-button [routerLink]="['/movies/popular']">Popular Movies</button>
    <button mat-button [routerLink]="['/movies/top_rated']">Top Rated Movies</button>
    <button mat-button [routerLink]="['/movies/watchlist']">Watchlist Movie</button>
    <button id="search" mat-button [routerLink]="['/movies/search']">Search</button>
    <button mat-button (click)="logout()">Logout</button>
</div>

<router-outlet></router-outlet>