<app-adminnavbar></app-adminnavbar>

<div class="row">
   <div class="col-md-3 col-sm-3 col-lg-4"></div>
   <div class="col-md-6 col-sm-7 col-lg-4">

      <form [formGroup]="searchform" (ngSubmit)="searchUser(searchform.value)" >
         <div class="row">
            <div class="col">
               <input type="text" class="form-control" id="username" formControlName="userName"
                   placeholder="Search...">
            </div>
            <div class="col-auto">
               <button type="Submit" id="userSearch" class="btn btn-success">Search</button>
            </div>
         </div>
      </form>
   </div>
</div>
<br><br>
<div class="mycard">
   <div class="row" *ngIf="visible">

      <div class="card col-md-3 col-sm-4 my-2 mx-5 shadow p-3 mb-5 bg-white rounded" *ngFor="let user of list">
         <h6 class="card-subtitle mb-2 text-muted">email : {{user.userEmail}}</h6>
         <h6 class="card-subtitle mb-2 text-muted">name : {{user.userName}}</h6>
         <h6 class="card-subtitle mb-2 text-muted">Staus : Activate</h6>
         <button type="submit" class="btn btn-danger" id="blackList" (click)="blackListUser(user)">Deactivate</button>
      </div>
   </div>

</div>
<div class="col-md-6 offset-md-3 alert alert-info" role="alert" *ngIf="searchBlankVisibility">
   No User Found
</div>