<app-adminnavbar></app-adminnavbar>
<!-- <p>
  activeuser works!
</p> -->
<!-- <div class="container">
  <table class="table table-striped table-hover table-borderless" id="allUserTable" style="border-radius:6px;">
    <thead class="thead-dark">
      <tr>
        <th>Serial No</th>
        <th>Email</th>
        <th>Name</th>
        <th>Status</th>
        <th>Role</th>
        <th>Blacklist?</th>
      </tr>
    </thead>

    <tr *ngFor="let user of list">
      <td>{{list.indexOf(user)+1}}</td>
      <td>{{user.userEmail}}</td>
      <td> {{user.userName}}</td>
      <td> {{user.userStatus}}</td>
      <td> {{user.role}}</td>
      <td><input type="button" class="btn btn-danger" id="{{list.indexOf(user)+1}}" value="Deactivate"
          (click)="deactivateUser(user)"></td>
    </tr>
  </table>
</div> -->

<div class="allActivateUserCard">
  <div class="row">

    <div class="card col-md-3 col-sm-4 my-2 mx-5 shadow p-3 mb-5 bg-white rounded" *ngFor="let user of list">
      <h6 class="card-subtitle mb-2 text-muted">email : {{user.userEmail}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">name : {{user.userName}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">Staus : Activate</h6>
      <button type="submit" class="btn btn-danger" id="{{list.indexOf(user)+1}}"
        (click)="deactivateUser(user)">Deactivate</button>
    </div>
  </div>

</div>