<!--The content below is only a placeholder and can be replaced.-->
<!-- <mat-toolbar color="primary"> -->

  <div class="nav">
    <span><button mat-button [routerLink]="['/news/headlines']"><h2>BBC NEWS</h2></button></span>&nbsp; 
    <button mat-button [routerLink]="['/news/favourite']"><i class="material-icons" id="favoritePage">favorite</i>Favourite</button>&nbsp;
    <button mat-button (click)="logout()"><i class="material-icons" id="logout">power_settings_new</i>Logout</button> 
</div> 
  

<router-outlet></router-outlet>
