/* .sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
   */
   .nav{
       padding : 10px;
       color : rgb(178,34,34);
       background-color: rgb(170, 170, 230);
       font-weight: bold;

   }
   img{
     width : 200px;
     height: 50px;
   }