<app-newsnavbar></app-newsnavbar>

<div class="newshome">
  <div class="row">
    <div class="col-md-6 col-sm-5 col-lg-4 offset-md-4 offset-lg-4">

      <form [formGroup]="searchForm" (ngSubmit)="searchArticles(searchForm.value)" >
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" formControlName="searchTopic" placeholder="Search...">
          </div>
          <div class="col-auto">
            <button type="Submit" class="btn btn-success">Search</button>
          </div>
        </div>
      </form>



    </div>
  </div>
  <br>
  <!-- <div class="row">
  <div class="col-md-3 col-sm-3 col-lg-3"></div>
<div class="col-md-6 col-sm-6 col-lg-6">
  <div *ngFor="let article of mArticles">
    <div class="card" style="border: 0">
      <div class="card-img-top" [ngStyle]="{'background-image': 'url(../assets/images/'+ article.source.id +'.png)'}"
        class="example-header-image"></div>
      <h4 class="card-title">{{article.title}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{article.source.name}}</h6>
      <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
      <div class="card-body">
        <p>
          {{article.description}}
        </p>
      </div>
      <a href={{article.url}} target="_blank" class="card-link"><i class="fa fa-eye" style="font-size:18px"> Read
          More...</i></a>
    </div>
    <br>
  </div>
</div>
</div> -->

  <div class="col-md-6 offset-md-3 alert alert-info" role="alert" *ngIf="searchResult">
    <h6>No Articles found</h6>
  </div>

  <div class="col-md-6 offset-md-3 alert alert-info" role="alert" *ngIf="blankSearchVisibility">
    <h6>Please enter search topic</h6>
  </div>

  <div class="row" *ngIf="visibilityOfNews">
    <div class="card col-md-3 col-sm-4 my-2 mx-5 shadow p-3 mb-5 bg-white rounded" *ngFor="let article of mArticles">
      <h4 class="card-title">{{article.title}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{article.source.name}}</h6>
      <img mat-card-image class="img-article" src={{article.urlToImage}} alt="" style="width:100%">
      <div class="card-body">
        <p>
          {{article.description}}
        </p>
      </div>
    </div>
  </div>
</div>