<app-newsnavbar></app-newsnavbar>

<div class="history" *ngIf="list.length>0">
  <div class="container">
    <br><br>
    <table class="table table-striped table-hover table-borderless" style="border-radius:6px;">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>History</th>
          <th>Time</th>
          <th>Delete?</th>
        </tr>
      </thead>

      <tr *ngFor="let searchhistory of list">
        <td> {{searchhistory.searchHistoryId}}</td>
        <td> {{searchhistory.searchTopic}}</td>
        <td> {{searchhistory.searchTime}}</td>
        <td><input type="button" class="btn btn-danger" id="{{searchhistory.searchHistoryId}}" value="delete"
            (click)="deleteSearchHistory(this.searchhistory)"></td>
      </tr>
    </table>
  </div>
  <br><br>
</div>
<div class="col-md-6 offset-md-3 alert alert-info" role="alert" *ngIf="list.length==0">
  No History Found
</div>