
          
.news-thumbnail{
    width : 350px;
    margin : 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.news-image{
    height : 250px;
    /* width : 250px; */
}


.news-overview{
    /* padding : 0; */
    height: 50px;
    width : 350px;
    overflow-x: hidden;
    /* overflow-y: auto; */
    justify-content: newspaper;
}

 .newsTitle{
    width : 350px; 
    height : 100px;
 overflow-x: hidden; 
 }

.news-overview::-webkit-scrollbar{
    width:2px;
    background: gray;
}

.news-actions{
    text-align: center;
}

a{
    font-size: 14px;
    text-decoration: none;
}
.news-container
{
    width : 100vw;
  margin-left:4%;
    display : flex;
    flex-wrap : wrap;
    height : 100vh;
    overflow-x:auto;
}
.flex-container
{
    text-align: center; 

}

#search-button-input{
    width:20%;
}
#search-button-input  :focus{
    color : red;
    font-weight: bold;
}
.size{
    font-size: 20px; 
}

  