
<div class="news-container">
    <mat-card class="news-thumbnail" *ngFor="let article of articles">
    <mat-card-header>
        <mat-card-title class="newsTitle">{{article.title}}</mat-card-title>
    </mat-card-header>
    <img class="news-image" mat-card-image src={{article.urlToImage}} [alt]="aticle?.title">
    <mat-card-content class="news-overview">
        {{article.description}}
    </mat-card-content>
    
    <mat-card-actions class="news-actions">
        <button  mat-button color="primary" id="addToFavorite" (click)='deleteFromFavourite(this.article)' >Delete</button>
      
    </mat-card-actions>
    </mat-card>
    
    </div> 
    