
<div class="flex-container">
  <form class="example-form">
    <mat-form-field>
      <input id="search-button-input" matInput type="text" #box (keyup)="onEnter(box.value)">
      <mat-placeholder class="size"><mat-icon>search</mat-icon>Search</mat-placeholder>
    </mat-form-field>

  </form>
</div>


<div class="news-container">
<mat-card class="news-thumbnail" *ngFor="let article of mArticles">
<mat-card-header>
    <mat-card-title class="newsTitle">{{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
</mat-card-header>
<img class="news-image" mat-card-image src={{article.urlToImage}} [alt]="aticle?.title">
<mat-card-content class="news-overview">
    {{article.description}}
</mat-card-content>

<mat-card-actions class="news-actions">
      <a mat-button color="primary" href={{article.url}} target="_blank" ><mat-icon>visibility</mat-icon> More</a>
    <button  mat-button color="primary" id="addToFavorite" (click)='AddToFavorite(this.article)' >Add to Favorite</button>
  
</mat-card-actions>
</mat-card>

</div> 
