<app-navbar></app-navbar>




<div class="header">
    <h2>Sign up Page</h2> <br>
</div>

<div class="container shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12"></div>
        <div class="col-md-6 col-lg-6 col-sm-12">
            <br>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" id="name" placeholder="only first and last name" formControlName="userName"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                        <div id="nameerror1" *ngIf="f.userName.errors.required">Name is required</div>
                        <div id="nameerror2" *ngIf="f.userName.errors.pattern">Name must have first name and last
                            name,Name can only be alphabets</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" id="email" formControlName="userEmail" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }" />
                    <div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
                        <div id="error1" *ngIf="f.userEmail.errors.required">Email is required</div>
                        <div id="error2" *ngIf="f.userEmail.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" id="password" formControlName="userPassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }" />
                    <div *ngIf="submitted && f.userPassword.errors" class="invalid-feedback">
                        <div id="passworderror1" *ngIf="f.userPassword.errors.required">Password is required</div>
                        <div id="passworderror2" *ngIf="f.userPassword.errors.pattern">Password must contain at least
                            eight characters,
                            one capital letter, one small letter and at least one number</div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" id="signup">Sign Up</button>
                    &nbsp; &nbsp;
                    <button type="button" class="btn btn-primary" (click)="login()">Login</button>
                </div>
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>