.header{
        text-align: center;
        padding-top: 50px;
}
input[type="text"]:focus {
    background-color: rgb(212, 207, 207);
    font-weight: bold;
    color :black;
}
input[type="password"]:focus{

    background-color: rgb(212, 207, 207);
    font-weight: bold;
    color :black;
}

