<app-adminnavbar></app-adminnavbar>
<!-- <p>
  blacklistuser works!
</p> -->


<!-- <div class="container">
  <table class="table table-striped table-hover table-borderless" style="border-radius:6px;">
    <thead class="thead-dark">
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Status</th>
        <th>Role</th>

      </tr>
    </thead>

    <tr *ngFor="let user of list">
      <td>{{user.userEmail}}</td>
      <td> {{user.userName}}</td>
      <td> {{user.userStatus}}</td>
      <td> {{user.role}}</td>

    </tr>
  </table>
</div> -->
<div class="blacklistUserCard" *ngIf="blackListUser">
<div class="row">
  <div class="card col-md-3 col-sm-4 my-2 mx-5 shadow p-3 mb-5 bg-white rounded" *ngFor="let user of list">
    <h6 class="card-subtitle mb-2 text-muted">email : {{user.userEmail}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">name : {{user.userName}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">role : {{user.role}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">status : Deactivated</h6>
    <button type="submit" class="btn btn-success" id="{{list.indexOf(user)+1}}" (click)="activateUser(user)">Activate</button>
  </div>
</div>
</div>
<!--if there is no user blacklisted-->
<div class="col-md-6 offset-md-3 alert alert-info" role="alert" *ngIf="noBlackListedVisibility">
  No Blacklisted User
</div>