/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* body {
    padding: 2em 23em;
    background:lightgray;
} */
html, body { height: 100%; }
 body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
        overflow-x: hidden;
        
       background:rgb(187, 183, 183);
} 