/* :host {
    height: 100vh;
}

.movie-container {
    margin: auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    overflow-x: auto;
} */

:host {
    height: 100vh;
}

.movie-container {
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 570vh;
    overflow-x: auto;
} 

@media only screen and (max-width : 820px)  {
    .movie-container {
        margin: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 1900vh;
        overflow-x: auto;
    }     
}
        
        @media only screen and (min-device-width : 830px) and (max-device-width : 1120px) {
            .movie-container {
                margin: auto;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                height: 800vh;
                overflow-x: auto;
            }             }  



