<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="../userHome"><img src="assets/sky-news-logo.png" alt="" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" id="history" routerLink="../History">
          <h2>History</h2>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="../searchuser"><h2>Search</h2></a>
      </li> -->
    </ul>
    <span class="navbar-text">
      <button type="submit" class="btn btn-danger" (click)="logoutUser()" id="Logout">Logout</button>
    </span>

  </div>
</nav>